<div class="container-fluid headBG">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-1 mb-4">
      <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
        <img src="./assets/images/medilord-logo.png" class="logo" alt="Medilord Logo">
        <!-- <svg class="bi me-2" width="40" height="32" fill="purple" role="img" aria-label="Medilord"><use xlink:href="#speedometer2"></use></svg> -->
      </a>

      <ul class="nav col-12 col-md-auto mb-2 justify-content-center mainNav mb-md-0">
        <li><a routerLink="/home" class="nav-link px-2" routerLinkActive="active">Home</a></li>
        <li><a routerLink="/doctors" class="nav-link px-2" routerLinkActive="active">Doctor</a></li>
        <li><a routerLink="/services" class="nav-link px-2" routerLinkActive="active">Services</a></li>
        <li><a routerLink="/how-it-works" class="nav-link px-2" routerLinkActive="active">How it works</a></li>
         
      </ul>

      <div class="col-md-3 text-end">
        <button type="button" class="btn btn-primary me-2">Sign-up</button>
        <button type="button" class="btn btn-outline-primary">Login</button>
       
      </div>
    </header>
  </div>