.covidLink{
    color:#660099;
}
.sTitle{
    color: var(--bs-blue);
}

.spBoxes {
    > div{
        background-color: #dfd4f5;
        border-radius: 10px;
        color:#676767; 
        h4{
            color:#660099;
        }
    }
}
.imgWrap{
    border-radius: 50%;
    width: 150px;
    height: 150px;
    background: #fff;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 15px;
img{
    width: 120px;
    height: 120px;
}
}