.mHead{
    color:#660099;
}
.bannerImg{
    background:#393939 url('./../../assets/images/img-how-it-works-banner.jpg') no-repeat center center;
    min-height: 250px;
    padding-top: 50px;
    p{
        text-align: center;
        font-size: 40px;
        width: 33.339%;
        margin: 0 auto;
        color: #fff;
    }
}