<div class="container">
    <div class="row"> 
<div class="col-md-6">
<img src="./assets/images/img-services-01.jpg" class="rounded img-fluid">
</div>
<div class="col-md-6 d-flex flex-column justify-content-center">
    <h1 class="fs-3 mHead">Specialist for Second Opinion</h1>
    <p>Connect with specialists around the world to get answers to your medical needs within a couple of hours.</p>
    <p>Find the specialist based on your medical need and book your appointment with one click from your home. Upload your reports and send your questions before the appointment. Medilord has specialist over 10+ years experience around the world from US, UK, Canada, Australia etc.</p>
    <a routerLink="/doctors" class="btn btn-outline-primary rounded text-uppercase">Search for Specialist</a>
     

</div>
</div>
<div class="row mt-3"> 
    <div class="col-md-6 d-flex flex-column justify-content-center">
        <h1 class="fs-3 mHead">Specialist for Treatment Plan</h1>
        <p>We know that your medical needs don&t stop at opinion and need a definitive treatment plan. Some of the best specialists in the country provide treatment plan via Medilord. You can also visit them in their clinic. Find your specialist from Indian Registered Medical Practioners based on your medical need and book your appointment in one click. </p>
        <p>Submit all your reports prior to appointment via your account in Medilord and go paperless with digital medical records.</p>
        <a routerLink="/doctors" class="btn btn-outline-primary rounded text-uppercase">Search for Specialist</a>
    </div>
    <div class="col-md-6">
        <img src="./assets/images/img-services-02.jpg" class="rounded img-fluid">
        </div>

</div>
<div class="row mt-3"> 
<div class="col-md-6">
    <img src="./assets/images/img-services-04.jpg" class="rounded img-fluid">
    </div>
    <div class="col-md-6 d-flex flex-column justify-content-center">
        <h1 class="fs-3 mHead">PHONE CALL (Audio-Video)</h1>
        <p>Our specialist and physicians can be reached with phone call from a electronic device after the details of patient case are submitted and payment is made. A desired time and date can be selected during booking process. You must have a smart device with camera, mic & speaker capability to make a phone call.</p>
        <a routerLink="/doctors" class="btn btn-outline-primary rounded text-uppercase">Search for Specialist</a>
    </div>

</div>
</div>