<div class="container-fluid footerBG">
    <footer class="container py-3 mt-3">
      <div class="row">
          <div class="col-md-4">
        <a href="/" class="d-flex mb-2 mb-md-0 text-dark text-decoration-none">
        <img src="./assets/images/medilord-logo.png" class="logo" alt="Medilord Logo">
        <!-- <svg class="bi me-2" width="40" height="32" fill="purple" role="img" aria-label="Medilord"><use xlink:href="#speedometer2"></use></svg> -->
      </a>
    </div>
      <div class="col-md-4 px-3">
          <h4>Quick Links:</h4>
      <ul class="nav mb-2 footerNav mb-md-0">
        <li><a routerLink="/home" class="nav-link" routerLinkActive="active">Home</a></li>
        <li><a routerLink="/doctors" class="nav-link" routerLinkActive="active">Doctor</a></li>
        <li><a routerLink="/services" class="nav-link" routerLinkActive="active">Services</a></li>
        <li><a routerLink="/how-it-works" class="nav-link" routerLinkActive="active">How it works</a></li>
      </ul>
    </div>
      <div class="col-md-4">
          <h4> Social Links:</h4>
          <div class="mb-4 socialLinks">
              <a href="#" class="fa fa-facebook-square fs-4 mx-1 text-decoration-none"></a>
            <a href="#" class="fa fa-twitter-square fs-4 mx-1 text-decoration-none"></a>
            <a href="#" class="fa fa-instagram fs-4 mx-1 text-decoration-none"></a>
            <a href="#" class="fa fa-youtube fs-4 mx-1 text-decoration-none"></a>
        </div>
        <button type="button" class="btn btn-primary me-2">Sign-up</button>
        <button type="button" class="btn btn-outline-light">Login</button>
    </div>
    <div class="col-md-12 border-top mt-3">
        <p class="text-center copyrightTxt pt-2 mb-0">Copyright © 2021, Medilord. All rights reserved.</p>
    </div>
      </div>
    </footer>
  </div>